# API Keys for LangChain providers
OPENAI_API_KEY=your_openai_api_key_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# valid options are "groq", "openai", or "azure_openai"
MODEL_PROVIDER=groq

# OpenAI params:
OPENAI_BASE_URL="https://your-openai-base-url.com"

# AzureOpenAI params:
DEPLOYMENT_NAME="your_deployment_name_here"
OPENAI_API_VERSION="2023-06-01-preview"
AZURE_OPENAI_API_BASE="https://your-resource-name.openai.azure.com/"

# Optional: LangSmith tracing
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=langgraph-py-essentials

# database security
LANGGRAPH_STRICT_MSGPACK=true